@mixin border-sizes($from: 1, $to: 12) {
  @for $i from $from through $to {
    .border-#{$i}         { border-width: #{$i}px !important; }
    .border-top-#{$i}     { border-top-width: #{$i}px !important; }
    .border-right-#{$i}   { border-right-width: #{$i}px !important; }
    .border-bottom-#{$i}  { border-bottom-width: #{$i}px !important; }
    .border-left-#{$i}    { border-left-width: #{$i}px !important; }
  }
}

@include border-sizes($to: $grid-columns);

.border-form-control {
  border-color: $input-border-color !important;
}

.border-card {
  border-color: $card-border-color !important;
}

.rounded-sm-top {
  border-top-left-radius: $border-radius-sm !important;
  border-top-right-radius: $border-radius-sm !important;
}

.rounded-sm-right {
  border-top-right-radius: $border-radius-sm !important;
  border-bottom-right-radius: $border-radius-sm !important;
}

.rounded-sm-bottom {
  border-bottom-right-radius: $border-radius-sm !important;
  border-bottom-left-radius: $border-radius-sm !important;
}

.rounded-sm-left {
  border-top-left-radius: $border-radius-sm !important;
  border-bottom-left-radius: $border-radius-sm !important;
}

.rounded-lg-top {
  border-top-left-radius: $border-radius-lg !important;
  border-top-right-radius: $border-radius-lg !important;
}

.rounded-lg-right {
  border-top-right-radius: $border-radius-lg !important;
  border-bottom-right-radius: $border-radius-lg !important;
}

.rounded-lg-bottom {
  border-bottom-right-radius: $border-radius-lg !important;
  border-bottom-left-radius: $border-radius-lg !important;
}

.rounded-lg-left {
  border-top-left-radius: $border-radius-lg !important;
  border-bottom-left-radius: $border-radius-lg !important;
}
