.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top:   $caret-width solid;
  border-bottom: 0;
  border-right: $caret-width solid transparent;
  border-left:  $caret-width solid transparent;
}
