$cursors: (
  auto,
  inherit,
  crosshair,
  default,
  help,
  move,
  pointer,
  progress,
  text,
  wait,
  e-resize,
  ne-resize,
  nw-resize,
  n-resize,
  se-resize,
  sw-resize,
  s-resize,
  w-resize,
  alias,
  all-scroll,
  cell,
  context-menu,
  col-resize,
  copy,
  ew-resize,
  grab,
  grabbing,
  nesw-resize,
  ns-resize,
  nwse-resize,
  no-drop,
  none,
  not-allowed,
  row-resize,
  zoom-in,
  zoom-out
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $cursor in $cursors {
      .cursor#{$infix}-#{$cursor} { cursor: $cursor !important; }
    }
  }
}
