@for $i from 2 through 12 {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .text-ellipsis#{$infix}-#{$i} { @include excerpt($lines-to-show: $i, $excerpt-bg: $white); }
    }
  }
}
