@each $color, $value in $theme-colors {
  .link-#{$color} {
    color: $value !important;

    &:hover,
    &:focus,
    &:active {
      &:not(:disabled):not(.disabled) {
        color: darken($value, 15%) !important;
      }
    }
  }
}
