@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop in (auto, scroll, hidden) {
      @each $dir in (x, y) {
        .overflow-#{$dir}#{$infix}-#{$prop} { overflow-#{$dir}: $prop !important; }
      }

      .overflow#{$infix}-#{$prop} { overflow: $prop !important; }
    }
  }
}
