.position-fixed,
.position-relative,
.position-absolute
{
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @each $prop, $abbrev in (top: t, right: r, bottom: b, left: l) {
        &.#{$abbrev}#{$infix}-0 { #{$prop}: 0; }
        &.#{$abbrev}#{$infix}-auto { #{$prop}: auto; }

        @each $size, $length in $sizes {
          &.#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length; }
        }
      }
    }
  }
}

.fixed-right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-fixed;
}

.fixed-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
}
