.btn {
  @extend .text-wrap;

  > [class*="fa-"] {
    + span {
      @extend .ml-1;
    }
  }

  &.btn-form-control {
    background-color: $input-border-color;
    border-color: $input-border-color;
    color: $input-color;

    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):active {
      background-color: $input-bg;
      border-color: $input-border-color;
      color: $input-color;
    }
  }

  &.btn-outline-form-control {
    background-color: $input-bg;
    border-color: $input-border-color;
    color: $input-color;

    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):active {
      background-color: $input-border-color;
      border-color: $input-border-color;
      color: $input-color;
    }
  }
}
