.form-group {
  &.has-error {
    .form-control {
      @extend .is-invalid;
    }

    .invalid-feedback {
      @extend .d-block;
    }
  }
}

.form-check-label {
  @extend .cursor-pointer;
  @extend .text-no-select;
}
