$sidepanel-max-width:   450px !default;
$sidepanel-zindex:      $zindex-sticky - 1 !default;
$sidepanel-transition:  .2s ease-in-out !default;

.side-panel {
  width: 100%;
  max-width: $sidepanel-max-width;
  right: -100%;
  z-index: $sidepanel-zindex;
  padding-top: 5.375rem !important;
  transition: right $sidepanel-transition;

  &[aria-expanded="true"] {
    right: 0;
  }

  .panel-body {
    > .nav {
      .nav-item {
        transition: background-color .15s ease-in-out;

        .nav-link {
          color: $body-color;
          @extend .d-flex;
          @extend .flex-row;
          @extend .px-4;
          @extend .py-2;
        }

        &:hover,
        &:active {
          @extend .bg-light;
        }
      }

      .navbar-text {
        @extend .d-flex;
        @extend .flex-row;
        @extend .px-4;
        @extend .py-2;
      }
    }
  }
}

@media(min-width: map-get($grid-breakpoints, "sm"))
{
  .side-panel {
    padding-top: 3.296875rem !important;
  }
}
