$sidebar-closed-width:  54px !default;
$sidebar-opened-width:  250px !default;
$sidebar-zindex-fixed:  $zindex-fixed + 2 !default;
$sidebar-zindex-sticky: $zindex-sticky - 1 !default;
$sidebar-transition:    .2s ease-in-out !default;

.sidebar {
  @extend .d-flex;
  @extend .flex-column;

  .sidebar-nav {
    .nav-item {
      position: relative;
    }
  }

  > button.close {
    position: fixed;
    display: none;
    top: 0.75rem;
    right: 1rem;
    color: $light;

    &:hover,
    &:active,
    &.active {
      color: $white;
    }
  }

  &[class*="fixed-"] {
    width: $sidebar-opened-width;
    z-index: $sidebar-zindex-fixed;
    overflow-y: auto;
    @extend .py-3;

    &:before {
      content: '';
      position: fixed;
      display: none;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
    }

    &[aria-expanded="true"] {
      &:before {
        display: block;
      }

      > button.close {
        display: inline-block;
      }
    }

    + * {
      .navbar {
        &[class*="fixed-"] {
          z-index: #{$sidebar-zindex-fixed - 2};
        }
      }
    }
  }

  &.fixed-left {
    left: -100%;
    transition: left $sidebar-transition;

    &[aria-expanded="true"] {
      left: 0;
    }
  }

  &.fixed-right {
    right: -100%;
    transition: right $sidebar-transition;

    &[aria-expanded="true"] {
      right: 0;
    }
  }

  &.sidebar-light {
    color: $light;

    .nav-link {
      color: $text-muted;

      &:hover,
      &.active {
        color: $white;
      }
    }
  }

  &.sidebar-dark {
    color: $dark;

    .nav-link {
      color: $text-muted;

      &:hover,
      &.active {
        color: $dark;
      }
    }
  }

  @each $color, $value in $theme-colors {
    &.bg-#{$color} {
      .nav-link {
        &:hover,
        &.active {
          background-color: darken($value, $theme-color-interval);
        }
      }
    }
  }
}

@media(min-width: map-get($grid-breakpoints, "md"))
{
  .sidebar {
    &[class*="fixed-"] {
      width: $sidebar-closed-width;
      z-index: $sidebar-zindex-sticky;
      padding-top: 3.5rem !important;
      transition: width $sidebar-transition;

      + * {
        margin-left: $sidebar-closed-width;
        transition: margin-left $sidebar-transition;

        .navbar {
          &[class*="fixed-"] {
            margin-left: $sidebar-closed-width;
            // z-index: #{$sidebar-zindex-sticky - 1};
          }
        }
      }

      .sidebar-nav {
        .nav-item {
          .text,
          [class*="fa-"].float-right {
            display: none;
            .responsive {
              display: inline-flex;
            }
          }
        }
      }

      &[aria-expanded="true"] {
        width: $sidebar-opened-width;

        &:before {
          display: none;
        }

        > button.close {
          display: none;
        }

        &.sidebar-expand-md {
          + * {
            margin-left: $sidebar-opened-width;

            .navbar {
              &[class*="fixed-"] {
                margin-left: $sidebar-opened-width;
              }
            }
          }
        }

        .sidebar-nav {
          .nav-item {
            .text,
            [class*="fa-"].float-right {
              display: inline-block;
            }
          }
        }
      }
    }

    &.fixed-left {
      left: 0;
    }

    &.fixed-right {
      right: 0
    }
  }
}

@media(min-width: map-get($grid-breakpoints, "lg"))
{
  .sidebar {
    &[class*="fixed-"] {
      &[aria-expanded="true"] {
        &.sidebar-expand-lg {
          + * {
            margin-left: $sidebar-opened-width;

            .navbar {
              &[class*="fixed-"] {
                margin-left: $sidebar-opened-width;
              }
            }
          }
        }
      }
    }
  }
}

@media(min-width: map-get($grid-breakpoints, "xl"))
{
  .sidebar {
    &[class*="fixed-"] {
      &[aria-expanded="true"] {
        &.sidebar-expand-xl {
          + * {
            margin-left: $sidebar-opened-width;

            .navbar {
              &[class*="fixed-"] {
                margin-left: $sidebar-opened-width;
              }
            }
          }
        }
      }
    }
  }
}
